<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        eveniet repellendus eaque eos soluta, distinctio corrupti sequi
        molestiae similique obcaecati inventore ducimus, quis at nihil pariatur
        debitis dolorum quasi amet.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
