<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & managed updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi consectetur
      aspernatur qui quia totam non esse deleniti, possimus error hic recusandae
      sed illum aut repudiandae ducimus enim ullam sapiente cum.
    </p>
  </div>
</div>
